<div class="mb-4">
  <h2 class="text-center mb-3">Log In</h2>
  <div class="bg-primary p-5">
    <form>
        <%= form_tag '/login', class: 'needs-validation' do %>
            <div class="mb-3">
            <%= label_tag :email, "Username", class: 'form-label' %>
            <%= text_field_tag :email, nil, class: 'form-control' %>
            </div>
            
            <div class="mb-3">
            <%= label_tag :password, "Password", class: 'form-label' %>
            <%= password_field_tag :password, nil, class: 'form-control' %>
            </div>
            
            <div class="mb-3">
            <%= submit_tag "Log In", class: 'btn btn-danger' %>
            </div>
        <% end %>
        </form>
  </div>
</div>