<%= form_with(model: pet, local: true) do |form| %>
  <% if pet.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(pet.errors.count, "error") %> prohibited this pet from being saved:</h4>
      <ul>
        <% pet.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="bg-primary p-5">
    <form>

    <div class="mb-3">
        <%= form.label :name, class: "form-label" %>
        <%= form.text_field :name, class: "form-control", required: true %>
    </div>



    <div class="row">
        <div class="col mb-3">
            <%= form.label :pet_race, class: "form-label" %>
            <%= form.text_field :pet_race, class: "form-control" %>
        </div>

        <div class="col mb-3">
            <%= form.label :pet_coat_color, class: "form-label" %>
            <%= form.text_field :pet_coat_color, class: "form-control" %>
        </div>

        <div class="col mb-3">
            <%= form.label :pet_birthdate, class: "form-label" %>
            <%= form.date_field :pet_birthdate, class: "form-control" %>
    </div>
    </div>

    <div class="mb-3">
        <%= form.label :pet_photo, class: "form-label" %>
        <%= form.file_field :pet_photo, class: "form-control", accept: "image/*" %>
        <small class="form-text text-muted">Max size: 1MB</small>
    </div>

    <div class="mb-3">
        <%= form.label :pet_city, class: "form-label" %>
        <%= form.text_field :pet_city, class: "form-control" %>
    </div>

    <h3 class="my-3">Social Media</h3>

    <div class="row">
        <div class="col mb-3">
            <%= form.label :pet_instagram, class: "form-label" %>
            <%= form.text_field :pet_instagram, class: "form-control" %>
        </div>

        <div class="col mb-3">
            <%= form.label :pet_tiktok, class: "form-label" %>
            <%= form.text_field :pet_tiktok, class: "form-control" %>
        </div>
    </div>

    <h3 class="my-3">Tutor Info</h3>

    <div class=row>
            <div class="col mb-3">
                <%= form.label :tutor, class: "form-label" %>
                <%= form.text_field :tutor, class: "form-control" %>
            </div>

            <div class="col mb-3">
                <%= form.label :tutors_contact, class: "form-label" %>
                <%= form.text_field :tutors_contact, class: "form-control" %>
            </div>
    </div>

    <div>
        <%= form.submit "Save Pet", class: "btn btn-danger" %>
    </div>
    <% end %>
    </form>
</div>
