<div id="<%= dom_id pet %>" class="text-center mx-auto">
  <div class="container my-3">
    <div>
        <strong class="display-3 my-3"><%= pet.name.present? ? pet.name : "N/D" %></strong>
        <p>ID:
            <strong><%= pet.id %></strong>
        </p>
    </div>

      <%= image_tag(pet.pet_photo.present? ? pet.pet_photo : 'pet-img-placeholder.jpg', alt: "#{pet.name || 'Pet'} photo", class: "img-fluid mx-auto d-block image-crop") %>
    
     <div class="row bg-light py-5 rounded">
      
      <div class="col-md-4">
        <h5><strong>Tutor Info</strong></h5>
        <p>
          <strong>Tutor Name:</strong>
          <%= pet.tutor.present? ? pet.tutor : "N/D" %>
        </p>
        <p>
          <strong>Tutor's Contact:</strong>
          <%= pet.tutors_contact.present? ? pet.tutors_contact : "N/D" %>
        </p>
        <p>
          <strong>City:</strong>
          <%= pet.pet_city.present? ? pet.pet_city : "N/D" %>
        </p>
      </div>

      <div class="col-md-4">
        <h5><strong>Pet Details</strong></h5>
        <p>
          <strong>Race:</strong>
          <%= pet.pet_race.present? ? pet.pet_race : "N/D" %>
        </p>
        <p>
          <strong>Coat Color:</strong>
          <%= pet.pet_coat_color.present? ? pet.pet_coat_color : "N/D" %>
        </p>
        
      </div>

      <div class="col-md-4">
        <h5><strong>Social Media</strong></h5>
        <p>
          <strong>Instagram:</strong>
          <%= pet.pet_instagram.present? ? pet.pet_instagram : "N/D" %>
        </p>
        <p>
          <strong>TikTok:</strong>
          <%= pet.pet_tiktok.present? ? pet.pet_tiktok : "N/D" %>
        </p>
      </div>
    </div>

    <div id="printableArea" class="my-5">
      <%= image_tag(url_for(pet.qrcode), class: "img-fluid mx-auto d-block qr-code") %>
    </div>

    <button type="button" class="btn btn-primary" onclick="printDiv('printableArea')">Print QR Code</button>

  </div>
</div>

<%= javascript_include_tag 'print_section' %>
