<p style="color: green"><%= notice %></p>

<% content_for :title, "Pets" %>

<h1>Pet Members</h1>

<div class="mb-3">
    <% if current_user %>
        <%= link_to "Add Pet", new_pet_path, class: "btn btn-primary mt-3" %>
    <% end %>
</div>


<div id="pets">
  <div id="container">
    <div class="row">
      <% @pets.each do |pet| %>
        <div class="col-12 col-sm-6 col-md-4 mb-4">
          <div class="card">
            <div class="card-body">
                <h5 class="card-title"><%= link_to pet.name, pet_path(pet), class: 'text-decoration-none' %></h5>
                <p><strong>ID:</strong> <%= pet.id %></p>
                
                    <%= link_to pet_path(pet) do %>
                        <%= image_tag(pet.pet_photo.present? ? pet.pet_photo : 'pet-img-placeholder.jpg', alt: "#{pet.name} photo", class: "img-fluid mx-auto d-block", size: "250x250" )%>
                    <% end %>
                
                <% if current_user %>
                    <%= link_to 'Edit & Print QR', pet_path(pet), class: 'btn btn-primary mt-3' %>
                <% end %>
                <% if !current_user %>
                    <%= link_to "More", pet, class: "btn btn-primary mt-3" %>
                <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

