<p style="color: green"><%= notice %></p>

<%= render @pet %>

<div>
  <%= link_to "Update pet", edit_pet_path(@pet) %> |
  <%= link_to "Back to pet members", pets_path %>

  <%= button_to "Destroy this pet", @pet, method: :delete %>
</div>
